* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

.inputs {
	/* background-color: grey; */
    border: 5px solid lightseagreen;
    color: lightseagreen;
    font-weight: bold;
    border-radius: 25px;
    margin: 10px;
    padding: 50px;
}

input {
    margin: 30px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 1.2rem;
    /* width: 25%; */
    /* display: block; */
    float: right;
    padding: 10px;
    border: 2px solid lightseagreen;
    border-radius: 25px;
}

label {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    /* margin: auto; */
}

.topic-section {
    padding: 30px;
    background-color: lightseagreen;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 25px;
    /* text-align: center; */
}

.title {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.description {
    text-align: center;
}

.description p {
    padding: 30px;
    font-size: 1.5rem;
}

.lead span {
    color: #fff;
}

.input-fields {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.user-input {
    width: 50%;
}

button {
    background-color: lightseagreen;
    margin: auto;
    border-radius: 25px;
    margin-top: 30px;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5rem;
    border: none;
}

button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.hr {
    border: 2px solid lightseagreen;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0px 50px;
    border-radius: 25px;
}

.sections {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;

}

.auto-fill {
    right: 20px;
    bottom: 30px;
    position: fixed;
}